
<!DOCTYPE html>
<html>
	<head>
		<title>Musgrave</title>
		<style>
			html {
				text-align: center;
				background: #090909;
			}
			.header {
				height: 20px;
				width: 200px;
				background: #ddd;
			}
			.content {
				height: 40px;
				width: 400px;
				background: #222;
			}
			.text {
				font-size: 24px;
				font-weight: bold;
				color: white;
			}
		</style>
	</head>
	<body>
		<div class="header">Header</div>
		<div class="content">
			<p class="text">{{texto}}</p>
		</div>
	</body>
</html>